*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.part1{
    width: 20%;
    height: 100px;
    margin: 0.5%;
    float: left;
    background-color: red;
}

.part2{
    width: 77%;
    float: left;
    height: 100px;
    margin: 0.5%;
    background-color: blue;
}